Scrapy==2.3.0
pocketsphinx==0.1.15
SpeechRecognition==3.8.1
gTTS==2.1.1
#playsound==1.2.2
#pygame==1.9.6
PyAudio==0.2.11
pydub==0.24.1
#Wave==0.0.2
nltk==3.5
# help
#wikipedia==1.4.0
APScheduler==3.6.3
spa2num==0.0.5
requests==2.24.0